body {
    background-color: #F5F8FF;
}

/* shared design  */

.primary-color {
    color: #4E47FF;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-size: 16px;
    font-weight: bold;

}

.btn:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

section {
    margin: 137px 150px;
}

/* header design  */
header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

nav h3 {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

/* banner design  */
.banner {
    margin: 0 230px;
    text-align: center;
    padding-top: 158px;
    padding-bottom: 200px;
}

.banner h1 {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.header {
    background-image: url('../Assets/Hero-bg.png');
}

/* see it in action design  */

.see-it-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-it-container h3 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.see-it-container p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.see-it-container .image {
    border-radius: 48px;
}

.see-it-container-left-content {
    max-width: 517px;
}

/* design Productive-Users-Section-heading  */
.Productive-Users-Section-heading {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.Productive-Users-Section-data {
    display: flex;
    justify-content: space-around;
}

.Productive-Users-Section-data h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px;

}

.Productive-Users-Section-data p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

#Productive-Users-Section {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
}

.Productive-Users-Section-data {
    padding: 0;
}

/* user feedback design  */

.feedback-container h1 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.reviewer-grettings h1 {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}

.reviewer-grettings p {
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom: 24px;
}

.reviewer-data h3 {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin: 0px;
}

.reviewer-data p {
    font-size: 16px;
    color: #B3B3B3;
    margin: 0px;
}

#review-box {

    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ; */
}

.stars {
    margin-bottom: 24px;
}

.review-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.reviewer-data {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
}


.review-section-elements {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.focus h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.focus p {
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.focus img {
    border-radius: 48px;

}

.focus .btn {
    margin-bottom: 20px;
}

.focus {

    background-color: white;
    border-radius: 14px;
    padding: 71px 150px;
    text-align: center;

}

/* lets get in touch design  */
.left-design {
    max-width: 528px;
}

/* .right-design {
    max-width: 497px;
} */

.left-design h1 {
    font-size: 97px;
    font-weight: bold;
}

.get-touch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-design .label {
    font-weight: medium;
    font-size: 18px;
    color: black;
}

.right-design .demo-text {
    font-size: 20px;
}

main input[type="email"],
main input[type="text"] {
    background-color: white;
    border-radius: 10px;
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    width: 497px;
    margin-bottom: 19px;
}
main textarea{
    background-color: white;
    border-radius: 10px;
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    width: 497px;
    margin-bottom: 19px;
}
.get-touch-btn{
    border-radius: 10px;
    padding: 20px 32px;
    width: 560px;
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
}
.get-touch-btn:hover{
    background-color: orange;
    color:white;
}